<% provide(:title, 'Help') %>
<h1>FAQ</h1>

<br />
<h2>What is Plate Nation? </h2>
<p>Plate Nation is a network of people who love the experience of sharing a home cooked meal with locals around the globe. Plate Nation is for the food lover looking to meet new people when they go to a new city. It's for someone looking to meet new people over good food and conversation.</p> 
<p>All of us on the Plate Nation team know what its like to have those incredible travel experiences over a meal. The taste of the food, the laughter, the cultural exchange—it's something you never forget. We want to ensure that is possible wherever you're going. Add to that that every meal you have on Plate Nation, we give another meal to someone in America that needs it most. Meal for meal.</p>

<p>All of this is why we're passionate about Plate Nation. To make the world smaller, one plate at a time. </p>

<br />
<h2>How do I use Plate Nation? </h2>
<p>First things first: register and create a profile (link). Then, add some photos and descriptive information about your interests, food, and personality. This will help other Plate Nation citizens see that you’re an amazing person to share a meal with, whether you're the traveler or the meal host. </p>

<p>After you have your profile up and running, you can search Plate Nation for people all over the world willing to share a meal with you. Once you find the person who you want to share a meal with them, simply send them a message and let them know when you're thinking. Be sure to tell each person why you want to share a meal with them as opposed to another Plate Nation citizen. After all, these great people could be making one of their favorite dishes for you, so tell them why you're excited for the experience! </p>

<br />
<h2>Where are Plate Nation citizens located?</h2>
<p>As we have just launched Plate Nation, we are looking to build up the network in every city around the world. The best way to get Plate Nation in your city is to sign up (link) and start sharing meals! If you would like to be a Plate Nation representative in your city, let us know and we'll hook you up (email link). </p>

<br />
<h2>How much does it cost to use Plate Nation?</h2>
<p>Plate Nation is completely free. However, we do suggest that you have your physical address verified with us at least once per year (costs around $25). This will make other Plate Nation citizens more comfortable with sharing a meal with you. </p>

<br />
<h2>Do I pay anything to the hosts when I share meal with them?</h2>
<p>We ask that you treat other Plate Nation citizens like you would if you were going over to a friends house for dinner. Chipping in for the cost food, bringing a small gift as a token of appreciation, even checking beforehand if they need anything from the store, are all encouraged when sharing a meal. These people are opening up their homes just for you, let them know how grateful you are. </p>

<br />
<h2>How do Plate Nation citizens stay safe?</h2>
<p>Trust is the foundation of sharing meals with everyone on Plate Nation. Helping you stay safe is our top priority.</p>

<br />
<h2>Facebook verification</h2>
<p>Sign in with Facebook and discover your trusted connections to hosts and guests all over the world. In fact, on every search results page, we'll tell you if you have any mutual friends with people sharing a meal in that city. </p>


<br />
<h2>Experience reviews: </h2>
<p>After sharing a meal, the host or the visitor can rate their experiences as positive or negative. Additionally, we encourage people to tell a little bit about their experience in the review following the meal. The more you tell, the more informed other Plate Nation citizens down the road. </p>

<br />
<h2>Address verification:</h2> 
<p>We also offer an optional verification system that confirms individuals’ names and addresses. Those who opt in are identified with a check mark icon and are featured higher up in Plate Nation search results (difficulty in doing that?).</p>

<br />
<h2>LinkedIn Verification </h2>
<p>You can now connect your Plate Nation profile with the world’s largest professional network. Connecting with LinkedIn builds confidence between guests and hosts by establishing a link to your professional life.</p>

<br />
<h2>Twitter Verification </h2>
<p>Validate your Plate Naton account and add another level of trust to your profile.</p>

<br />
<h2>SMS Verification</h2>
<p>Make it easier to communicate with a verified phone number. We’ll send you a code by SMS or read it to you over the phone. Enter the code below to confirm that you’re the person on the other end.</p>

<p>Most importantly, taking the time to read the profiles very carefully to make sure they’ve been verified (the more ways the better) and that there’s a personality match is critical to safety and a positive experience when sharing a meal. </p>