<div class="center">
  <h1>Welcome to Platenation!</h1>

<h3>Look at all these idiots</h3>
<div class="tiles">
	<div class="row">
		
	</div>
</div>
<hr>
<div class="row" id="how-it-works">
	<div class="span12 center">
		<h2 class="heading">How it Works</h2>
			<%= link_to image_tag("howitworks.png")%>
	</div>
</div>

</div>

