<footer class="footer container">
  <nav>
    <ul>
      <li><%= link_to "FAQ",   help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>

  <small>
  © 2012 Plate Nation. All rights reserved. A startup weekend project, coded with aloha.
  </small>
</footer>
